/* this is reset.css, basically resets all the defaults styles.*/
/*a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}/*

/* target all elements */
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    /* align-items: center;
    justify-content: center; */
    /* flex-flow: row; */
    
}
.player-1-section {
   background-color:burlywood;
   width: 50%;
   height: 100vh;  
   text-align: center;
   
}
/*#player-0{
    
    
}*/
/*#score-0{
    margin-top: 40%;
}*/
.player-current-score{
    margin-top: 500px;
    /*background-color: red;*/
   height: 50px;
   
   
    
}


.player-2-section{
    width: 30%;
    text-align: center;   
}

.menu {
    position: absolute;
    /* top: 0; */
    /* z-index: 3;
    margin-right: 30%; */
    align-self: center;
    
}
#reset{
    width: 50px;
    position: fixed;
    left:55%;
    top:10%;
    /*margin-top:-100px;
    margin-left: 150px;*/
}
.ext{
    position: fixed;
    bottom: 10%;
    left:50%;
    
}
#img{
    visibility: hidden;
}
   
